body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  color: #000;
}
a:link {
  color: rgb(134, 6, 6);
}
a:visited {
  color: rgb(98, 65, 114);
}
a:hover {
  background-color: rgb(172, 102, 28);
  color: rgb(66, 40, 90);
}
a:active {
  color: rgb(96, 23, 96);
}
.deadnav {
  color: rgb(19, 19, 19);
  background-color: rgb(180, 112, 48);
}
.logo {
  width: 100px;
}
img {
  width: 100px;
}
#navlist li {
  display: inline;
  list-style-type: circle;
  padding-right: 20px;
  border-left: 1px solid #000;
  line-height: 1.1em;
  margin: 0 0.5em 0 0.5em;
  padding: 0 0.5em 0 0.5em;
}
.box {
  margin: 10px;
  padding: 10px;
  background-color: #666;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  clear: both;
}
.nav {
  margin: 10px;
  padding: 10px;
  background-color: #999;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
.left {
  width: 20%;
  height: 370px;
  margin: 10px;
  padding: 10px;
  background-color: #ccc;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  float: left;
}

.center {
  width: 47%;
  height: 370px;
  margin: 10px;
  padding: 10px;
  background-color: #ccc;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  float: left;
}
.right {
  width: 20%;
  height: 370px;
  margin: 10px;
  padding: 10px;
  background-color: #ccc;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  float: right;
}
:is(.left, .right) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lower_nav {
  margin: 10px;
  padding: 10px;
  background-color: #999;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  clear: both;
}
.legal {
  margin: 10px;
  padding: 10px;
  background-color: #999;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  float: none;
  clear: both;
}
